################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SwipeGesture/DesignTimeBuild
/.vs/SwipeGesture/v15/Server/sqlite3
